<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="card shadow-sm" style="width: 450px">
    <!-- FULL WIDTH HEADER -->
    <div class="bg-light text-center py-3 w-100">
      <h5 class="mb-0">Sign in to your dashboard</h5>
    </div>

    <div class="p-5">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <input
            type="email"
            class="form-control"
            formControlName="username"
            placeholder="Username"
          />
        </div>

        <div class="mb-3">
          <input
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="Password"
          />
        </div>

        <button type="submit" class="btn btn-primary">SIGN IN</button>
      </form>
    </div>
  </div>
</div>
